:root {
    --dark: #111;
    --dark-blue: #1E1823;
    --orange: #FD9222;
    --light-orange: #FCF1E0;
    --light: #FAFAFA;
    --white: #fff;
  }
ul {
    list-style: none;
}
h1,
h2,
h3,
p{
    color: var(--dark);
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: var(--dark);
}
.container {
    border:1px solid red;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  section{
    margin: 0;
  }
body {
    background-color: var(--light);
  }
/* --------- HEADER ------------------------ */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 36px;
    margin-bottom: 0;
    padding-left: 0;
 }
.header-item {
  align-items: center;
  display: inline-flex;
  justify-content: flex-start;
  gap: 4px;
  padding-right: 132px;

}

.header-name { 
    display: inline-flex;
    font-size: 18px;
    font-style: normal;
    line-height: 1.11; /* 111.111% */
    letter-spacing: -0.54px;
    font-weight: 700;
}
.header-name span{
    font-style: italic;
}
.header-navi {
    display: inline-flex;
    gap: 24px;
    color: #111;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -0.28px;
}
.header-navi a:hover,
.header-navi a:focus{
    color: var(--orange);
}
.header-sm {
  display: inline-flex;
  justify-content: flex-end;
}
.header-sm-icons {
    fill: transparent;
    stroke: var(--dark);
    margin: 8px;
    gap: 18px;
    width: 24px;
    height: 24px;
}
.header-sm-icons:hover,
.header-sm-icons:focus{
    stroke: var(--orange);
}
/* --------- HERO -------------------------- */
h1 {
    display: none;
}
.hero {
  background-size: auto;
  height: 600px;
  background-size: cover;
  border-radius: 16px;
  padding: 32px;
  background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%), url(../images/chocolate-hero.jpg);
}
.hero-title {
    width: 484px;
    height: 102px;
    color: var(--white);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21; /* 121.429% */
    letter-spacing: -0.84px;
}
